body{
    background-color: lightblue;
}

header{
    background-color: red;
    height: 200px;
    width: auto;
    border: solid 0px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grille-principale{
    display: grid;
    grid-template-columns: auto auto;
}

.competences{
    grid-column: 1/ span 1;
    width: 300px;
    height: 1200px;
    background-color: grey;
    border: solid 0px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.competences h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.experience{
    grid-column: 2/ span 1;
    background-color: grey;
    float: right;
    width: 400px;
    border: solid 0px;
    border-radius: 10px;
}



